<div id="header">
    <div id="intro">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" 
                 data-target="#example-navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#header">Connected Drone</a>
           </div>
            <div class="navbar-collapse collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav navbar-right header-link">
                    <li><%= link_to "What we do", "#what-we-do", :class => "header-link" %></li>
                    <li><%= link_to "How It Works", "#how-it-works", :class => "header-link" %></li>
                    <li><%= link_to "Team", "#team", :class => "header-link" %></li>
                    <li><%= link_to "Contact us", "#contact-us", :class => "header-link" %></li>
                </ul>
            </div>
        </div>

    
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Connected Drone</h1>
                </div>
            </div>
            <div class="row center-text">
                <!-- <div class="col-md-6 col-md-offset-3"> -->
                    <br />
                    <h2><strong>The future of parking.</strong></h2>
                    <br /><br /><br />
                    <br /><br /><br />
                    <br /><br /><br />
                    <br /><br /><br />
                <!-- </div> -->
            </div>
            <div class="row">
                <% if false %>
                <div class="col-md-12" style="text-align:center;">
                    <div class="secure-message">
                    We use bank-level security standards, 256-bit encryption, to keep sensitive user data safe</div>
                    <br><br>
                </div>
                <% end %>
                <div class="col-md-12" style="text-align:center;">
                    <i class="fa fa-caret-down fa-2x" style="color:rgba(255,255,255,0.2)"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="land-panel" id="what-we-do">
    <div class="container">
        <div class="wrapper-lg">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3>WHAT WE DO</h3>
                    <br>
                    <h4>Leverage existing internal data to draw insights to optimize business processes </h4>
                </div>
            </div>
            <br><br>

            <div class="row  purpose-box">
                <div class="col-md-6">
                    <h4 class="bold">What qualities characterize your best hires?</h4>
                    <p>Identify your top performers and see what makes them great. Find other like them in you candidate pool. etc etc</p>
                    <!-- <p><a href="/users/new"><strong>Request Your Patient's Medical Records ›</strong></a></p> -->
                </div>
                <div class="col-md-6">
                    <i class="flaticon flaticon-woman3"></i> 
                </div>
            </div>

            <div class="row purpose-box">
                <div class="col-md-6 col-md-push-6">
                    <h4 class="bold">What sources generate the best hires?</h4>
                    <p>See where these top performers are coming from.</p>
                    <!-- <p><a href="mailto:discovery@prefixhealth.co"><strong>Ask About Our Legal Discovery Service ›</strong></a></p> -->
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <i class="flaticon-law"></i> 
                </div>
            </div>
                
            <div class="row purpose-box">
                <div class="col-md-6">
                     <h4 class="bold">How can aspects of the hiring process be optimized in light of these findings?</h4>
                    <p>Identify which channels yield highest return, not just for quantity, but also for quality. Analyze external talent data from such such as LinkedIn, AngelList, Github etc.</p>
                    <!-- <p><a href="mailto:aps@prefixhealth.co"><strong>Ask About Our APS Retrieval Service ›</strong></a></p> -->
                </div>
                <div class="col-md-6">
                    <i class="flaticon flaticon-hospital11"></i> 
                </div>
            </div>
        </div>
    </div>   
</div>

<div class="land-panel alt-bg" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>HOW IT WORKS</h3>
                <br>
                <h4>We close the data loop across hiring and performance. Our software integrates data sources across existing HR solutions to measure quality of hire and optimize the recruiting process.</h4>
            </div>  
        </div>
        <br>
        <div class="row box-pad">
            <div class="col-md-3">
                <div class="text-center pad-bottom">
                    <i class="fa fa-list-alt fa-5x"></i>
                    <i class="fa fa-caret-right fa-3x"></i>
                </div>
                Recruiters collect candidate info in their ATS
            </div>
            <div class="col-md-3">
                <div class="text-center pad-bottom">
                    <i class="fa fa-pencil fa-5x"></i>
                    <i class="fa fa-caret-right fa-3x"></i>
                </div>
                Managers convey interview data and employees take post-offer survey
            </div>
            <div class="col-md-3">
                <div class="text-center pad-bottom">
                    <i class="fa fa-check-square-o fa-5x"></i>
                    <i class="fa fa-caret-right fa-3x"></i>
                </div>
                Recruiters do a 90 day checkin & hiring managers conduct performance reviews
            </div>
            <div class="col-md-3">
                <div class="text-center pad-bottom">
                    <i class="fa fa-chain fa-5x"></i>
                </div>
                We connect all these data sources to optimize your recruiting channels
            </div>
        </div>
    </div>
</div>

<div class="land-panel dark-bg" id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>WE LIVE AND BREATHE TECHNOLOGY</h3>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <h2><strong>Team</strong></h2>
            </div>
        </div>
        <div class="row box-pad">
            <div class="col-md-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="andrew.jpeg" class="image" />
                            <h4>Andrew</h4>
                        </div>
                        <div class="back">
                            <h4><a href="https://www.linkedin.com/in/andrewjiang">Andrew</a> is the former cofounder of <a href="http://www.bayesimpact.org/">Bayes Impact</a>, a Y Combinator and Gates Foundation-backed nonprofit that develops data science solutions for social impact challenges. Prior, he was on the founding team of <a href="https://www.joinbreeze.com/">Breeze</a>, the car leasing startup.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="isaac.jpg" class="image" />
                            <h4>Isaac</h4>
                        </div>
                        <div class="back">
                            <h4><a href="https://www.linkedin.com/in/isaacmadan">Isaac</a> graduated from Stanford University with a B.S. in Computer Science and M.S. in Bioinformatics. He formerly co-founded Chalky, a college admissions startup acquired in 2014 and is a technical advisor at Correlation Ventures.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="shaurya1.jpg" class="image" />
                            <h4>Shaurya</h4>
                        </div>
                        <div class="back">
                            <h4><a href="https://www.linkedin.com/in/shauryasaluja">Shaurya</a> graduated from Stanford University with a B.S. in Computer Science with a focus on data mining & machine learning. He was an entrepreneur-in-residence at Foundation Capital.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
         <div class="row">
            <div class="col-md-12">
                <h2><strong>Advisors</strong></h2>
            </div>
        </div>
        <div class="row box-pad">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="amir.jpg" class="image" />
                            <h4>Amir</h4>
                        </div>
                        <div class="back">
                            <h4><a href="http://www.gsb.stanford.edu/faculty-research/faculty/amir-goldberg">Amir</a> is a professor of Organizational Behavior at the Stanford Graduate School of Business and of Sociology at the School of Humanities and Sciences. His research focuses on the desire to understand the social mechanisms that underlie how people construct meaning, and consequently pursue action.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <img src="daniel.jpeg" class="image" />
                            <h4>Daniel</h4>
                        </div>
                        <div class="back">
                            <h4><a href="http://www.danpink.com/">Daniel</a> is a New York Times bestselling author of books about business, work, and behavior, including <a href="http://www.danpink.com/drive/">Drive</a>: The Surprising Truth About What Motivates.</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="land-panel">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>PARTNER WITH US</h3>
                <br>
                <h4>We're currently doing closed pilots with a few companies.<br>If you would like to partner with us <%= link_to "reach out", "mailto:partner@swivellabs.com" %></h4>
                <br /><br />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      particleground(document.getElementById('header'), {
        dotColor: '#8792D0',
        lineColor: '#8792D0',
        minSpeedX: 0.1,
        minSpeedY: 0.1,
        maxSpeedX: 0.5,
        maxSpeedY: 0.5,
        density: 10000,
        particleRadius: 7,
        curvedLines: false,
        proximity: 100,
        parallaxMultiplier: 15
      });
      var intro = document.getElementById('intro');
      intro.style.marginTop = - intro.offsetHeight / 2 + 'px';
    }, false);

    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
</script>
